*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

.scoreboard-container {
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'MyWebFont';
    font-size: 50px;
}

.score-mod {
    display: flex;
    justify-content: space-around;
}

.player1-container, .player2-container {
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
    width: 50vw;
}

.player1-container {
    background-color: rgb(99, 175, 247);
}

.player2-container {
    background-color: rgb(247, 99, 99);
}

.player1-items, .player2-items {
    text-align: center;
    margin-bottom: 27vh;
}

.container {
    text-align: center!important;
    max-width: 100%!important;
}

.player1-name, .player2-name {
    width: 48vw;
    font-weight: bold;
}

#name1, #name2 {
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px;
    text-align: center;
    margin-bottom: 15vh;
}

#name1 {
    background-color: rgb(99, 175, 247);
}

#name2 {
    background-color: rgb(247, 99, 99);
}

#name1::placeholder, #name2::placeholder {
    color: black;
}

#name1:focus, #name2:focus {
    outline: none;
}

.score {
    display: inline;
    font-size: 120px;
    margin-top: -40px;
}

#plusBtn1, #plusBtn2, #minusBtn1, #minusBtn2 {
    cursor: pointer;
}

.turn-action {
    text-align: center;
}

.active {
    font-weight: 1000;
}

#new-game-btn {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 85%;
    left: 50%;
    font-size: 1.75rem;
    text-decoration: none;
    color: white;
    border: 5px solid white;
    background-color: transparent;
    font-family: 'MyWebFont';
    /* font-size: 25px; */
    /* justify-content: center;
    align-items: flex-end;
    grid-column: 1 / span 2;
    margin: 0 auto;
    padding: 15px;
    margin-left: -65px; */
    padding: 10px;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../font/PixgamerRegular-OVD6A.ttf');
}

@media only screen and (min-device-width: 501px) {
    .player1-container, .player2-container {
        height: 100vh;
        width: 50vw;
        display: grid;
        grid-template-rows: 33.33% 33.33% 33.33%;
    }
}

@media screen and (min-device-width : 1px) and (max-device-width : 500px) {
    .scoreboard-container {
        grid-template-columns: none;
        font-size: 3rem;
    }
    .player1-container, .player2-container {
        height: 50vh;
        width: 100vw;
    }
    .player1-name, .player2-name {
        text-align: center;
        width: 95vw;
        margin-top: 5px;
    }
    #name1, #name2 {
        width: 77vw;
        margin-bottom: 15px;
    }
    .player1-items, .player2-items {
        margin-bottom: 5vh;
    }
    .score {
        font-size: 6.5rem;
    }
    #new-game-btn {
        /* display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        bottom: auto;
        text-align: center;
        margin-left: -40px;
        margin-top: -23px;
        font-size: 20px;
        border: 3px solid white;
        padding: 1px; */
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.25rem;
        text-decoration: none;
    }
}

@media screen and (max-device-width : 500px) and (min-device-height : 600px)
and (max-device-height : 699px){
    .player1-items, .player2-items {
        margin-bottom: 8vh;
    }
}

@media screen and (max-device-width : 500px) and (min-device-height : 700px) {
    .player1-items, .player2-items {
        margin-bottom: 11vh;
    }
}

@media screen and (min-device-width : 800px) and (max-device-width : 900px)
and (min-device-height : 360px) and (max-device-height : 440px){
    .player1-name, .player2-name {
        width: 26vw;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 2500px) and (max-device-height: 400px) {
    .player1-items, .player2-items {
        margin-bottom: 7vh;
    }
}

@media screen and (min-device-width : 500px) and (max-device-width : 2500px)
and (min-device-height : 401px) and (max-device-height : 600px) {
    .player1-items, .player2-items {
        margin-bottom: 16vh;
    }
}