*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.scoreboard-container {
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'MyWebFont';
    font-size: 50px;
}

.score-mod {
    display: flex;
    justify-content: space-around;
}

.player1-container {
    width: 50vw;
    background-color: rgb(99, 175, 247);
}

.player2-container {
    width: 50vw;
    background-color: rgb(247, 99, 99);
}

.player1-items, .player2-items {
    margin: auto 0;
    text-align: center;
    margin-bottom: 27vh;
}

.player1-name, .player2-name {
    width: 49vw;
    font-weight: bold;
}

#name1 {
    background-color: rgb(99, 175, 247);
    border: none;
    padding: 10px;
}

#name2 {
    background-color: rgb(247, 99, 99);
    border: none;
    padding: 10px;
}

#name1::placeholder, #name2::placeholder {
    color: black;
}

#name1:focus, #name2:focus {
    outline: none;
}

.score {
    display: inline;
    font-size: 100px;
    margin-top: -40px;
}

#plusBtn1, #plusBtn2, #minusBtn1, #minusBtn2 {
    cursor: pointer;
}

.turn-action {
    text-align: center;
}

.active {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

#new-game-btn {
    display: flex;
    position: absolute;
    left: 50vw;
    bottom: 0;
    color: white;
    border: 5px solid white;
    background-color: transparent;
    font-family: 'MyWebFont';
    font-size: 25px;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1 / span 2;
    margin: 0 auto;
    padding: 20px;
    margin-left: -65px;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../font/PixgamerRegular-OVD6A.ttf');
}

@media screen and (min-device-width : 1px) and (max-device-width : 500px) {
    .scoreboard-container {
        grid-template-columns: none;
        font-size: 30px;
    }
    .player1-container, .player2-container {
        height: 50vh;
        width: 100vw;
    }
    .player1-name, .player2-name {
        text-align: center;
        width: 95vw;
    }
    .player1-items, .player2-items {
        margin-bottom: 5vh;
    }
    .score {
        font-size: 65px;
    }
    #new-game-btn {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        bottom: auto;
        text-align: center;
        margin-left: -40px;
        margin-top: -23px;
        font-size: 20px;
        border: 3px solid white;
        padding: 1px;
    }
}

@media screen and (max-device-width : 500px) and (min-device-height : 600px)
and (max-device-height : 699px){
    .player1-items, .player2-items {
        margin-bottom: 10vh;
    }
}

@media screen and (max-device-width : 500px) and (min-device-height : 700px) {
    .player1-items, .player2-items {
        margin-bottom: 12vh;
    }
}